* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.columns {
  display: flex;
  flex-flow: row wrap;
}
.columns > * {
  padding: 1rem;
}
section {
  margin-bottom: 1rem;
}
.intent {
  background: #eff;
  width: 30%;
}
.thisgamerules {
  background: #ffe;
  width: 30%;
}
.thisgame {
  background: #efe;
  width: 40%;
}
#toggleNegateMode {
  color: maroon;
  cursor: pointer;
  font-size: .8rem;
  text-align: center;
  text-decoration: underline;
}
.things-list {
  display: flex;
  flex-flow: row wrap;
}
.thing {
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 1rem;
  margin-bottom: 1rem;
  min-height: 100px;
  padding: 5px 2px;
  position: relative;
  text-align: center;
  width: 48%;
}
.thing:nth-child(odd) {
  margin-right: 4%;
}
.new-button {
  background: transparent !important;
  color: #ccc;
  cursor: pointer;
  line-height: 1;
  border: 3px dotted #ccc !important;
  font-size: 5rem;
  font-weight: bold;
}
.relationship {
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 1rem;
  margin-bottom: 1rem;
  padding: 5px 2px;
  position: relative;
  text-align: center;
}
.relationship.negated {
  background: maroon;
}
.relationship .not {
  color: white;
  display: none;
}
.relationship.negated .not {
  display: inline;
}
.relationship .lhs, .relationship .rhs {
  font-weight: bold;
}
.relationship.new-button, .trigger.new-button {
  font-size: 1.5rem;
}
input[type="text"] {
  width: 100px;
}
.relationship.negated input[type="text"] {
  width: 80px;
}
.trigger {
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 1rem;
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 1rem;
  position: relative;
  text-align: center;
}
.trigger.new-button {
  display: block;
  padding: 5px 2px;
}
.trigger .lhs, .trigger .rhs {
  width: 50%;
  padding: 5px 2px;
}
.trigger .lhs {
  background: #fef;
  border-right: 1px solid #ccc;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
.trigger.static .contents {
  line-height: 1.2;
  padding: .25rem;
}
h2, h3 {
  text-align: center;
}
h3 {
  margin-bottom: .5rem;
  margin-top: .5rem;
}
.thing-name {
  font-size: 1.1rem;
  margin-bottom: 5px;
}
input.thing-name {
  width: 80%;
}
.entity-icon {
  font-size: 2rem;
}
.minibutton {
  background: orange;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 1.25rem;
  line-height: 1;
  padding: 0;
  padding-top: 5px;
  padding-left: 2px;
  position: absolute;
  top: 5px;
}
.minibutton.randomize {
  left: 5px;
}
.minibutton.delete {
  right: 5px;
}
.minibutton.import {
  background: green;
  right: 5px;
}
.generate-games {
  background: rgb(0,150,255);
  border-radius: .5rem;
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  padding: .5rem;
  text-align: center;
}
.tag {
  background-color: cornflowerblue;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: .8rem;
  padding: 5px;
  margin-bottom: 3px;
  line-height: 1;
  max-width: 90%;
}
.tag.negated {
  background: maroon;
}
.tag.negated:before {
  content: "NOT ";
}
.edit-tags {
  cursor: pointer;
  display: block;
  font-size: .8rem;
  text-decoration: underline;
}
.tag-editor {
  background: #eef;
  border: 2px solid cornflowerblue;
  border-radius: 1rem;
  border-top-left-radius: 0;
  position: absolute;
  left: 80%;
  padding: 1rem;
  top: -1px;
  text-align: left;
  line-height: 1;
  width: 400px;
  z-index: 10000;
}
.tag-family:not(:last-child) {
  margin-bottom: 1rem;
}
.tag-family .tag {
  cursor: pointer;
  margin-right: 0.25rem;
}
.tag-family .tag.active {
  background: orange;
}
.close-tag-editor {
  cursor: pointer;
  position: absolute;
  top: .5rem;
  right: .5rem;
  color: red;
  font-weight: bold;
}
.thisgame {
  text-align: center;
}
.gametitle {
  display: block;
  font-size: 2rem;
  font-weight: bold;
  margin: 0 auto;
  margin-bottom: 1rem;
  text-align: center;
  width: 75% !important;
}
.game {
  width: 500px;
  height: 300px;
  margin: 0 auto;
  background: #ccc;
}
.continue {
  background: rgb(0,150,255);
}
