* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  font-weight: 100;
}
body {
  line-height: 1.5;
}
input[type="text"] {
  text-align: center;
  width: 100px;
}
button {
  background: lightgrey;
  border: none;
  border-radius: .5rem;
  font-size: 1rem;
  padding: .5rem;
  margin: .5rem .25rem;
  cursor: pointer;
  outline: none;
}
button:disabled{
  background: lightgrey;
  color: grey;
  cursor: not-allowed;
}
.back {
  background: #ddd;
  border: none;
  border-radius: .5rem;
  font-size: 1.5rem;
  font-weight: bold;
  padding: .5rem;
}
.continue {
  background: blue;
  border: none;
  border-radius: .5rem;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  padding: .5rem;
}
#restart {
  background: #ddd;
  border: none;
  border-radius: .5rem;
  font-size: 1rem;
  font-weight: normal;
  padding: .5rem;
  margin: .5rem;
}
.columns {
  display: flex;
  flex-flow: row wrap;
}
section {
  margin-bottom: 1rem;
}
.intent {
  background: cornsilk;
  width: 30%;
  padding: 1rem 2rem;
}
.game-navigator {
  background: white;
  padding: 0;
  padding-left: 0;
  padding-right: 2rem;
  width: 70%;
}
.game-navigator-topbar {
  padding-top: 1rem;
  text-align: center;
}
.gamecounter {
  display: inline-block;
}
.back, .continue {
  font-size: .8rem;
}
.thisgamecontainer {
  display: flex;
  flex-flow: row wrap;
  padding: 1rem;
}
.thisgamerules {
  width: 40%;
}
.thisgame {
  width: 60%;
}
.thisgame h2 {
  margin-bottom: 1rem;
}
#toggleNegateMode {
  color: orangered;
  cursor: pointer;
  font-size: .8rem;
  text-align: center;
  text-decoration: underline;
}
.things-list {
  display: flex;
  flex-flow: row wrap;
}
.thing {
  background: white;
  border-radius: .25rem;
  margin-bottom: 1rem;
  min-height: 100px;
  padding: 5px 2px;
  position: relative;
  text-align: center;
  width: 48%;

  padding: 10px 10px 20px 10px;
  box-shadow: 2px 2px 5px lightgrey;
}
.thing:nth-child(odd) {
  margin-right: 4%;
}
.thing.entity {
  background: gold;
}
.thing.entity.new-button {
  background: transparent;
  border-color: gold;
  color: gold;
}
.thing.resource {
  background: cornflowerblue; /* also gold, */
}
.thing.resource.new-button{
  background: transparent;
  border-color: cornflowerblue;
  color: cornflowerblue;

}
.new-button {
  background: transparent !important;
  box-shadow: none !important;
  color: #ccc;
  cursor: pointer;
  line-height: 1;
  border: 3px dotted;
  font-size: 5rem;
  font-weight: bold;
  z-index: 1;
}
.relationship {
  background: lightgreen;
  border-radius: .25rem;
  margin-bottom: 1rem;
  padding: 5px 2px;
  position: relative;
  text-align: center;
  box-shadow: 2px 2px 5px lightgrey;
}
.relationship.negated {
  background: orangered;
}
.relationship .not {
  color: white;
  display: none;
}
.relationship.negated .not {
  display: inline;
}
.relationship .lhs, .relationship .rhs {
  font-weight: bold;
}
.relationship.new-button, .trigger.new-button {
  font-size: 1.5rem;
}
.relationship.new-button {
  border-color: lightgreen;
  color: lightgreen;
}
.trigger.new-button {
  border-color: #fd8383;
  color: #fd8383;
}
.relationship.negated input[type="text"] {
  width: 80px;
}
.trigger {
  background: #fd8383;
  box-shadow: 2px 2px 5px lightgrey;
  border-radius: .25rem;
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 1rem;
  position: relative;
  text-align: center;
}
.trigger.new-button {
  display: block;
  padding: 5px 2px;
}
.trigger .lhs, .trigger .rhs {
  width: 50%;
  padding: 5px 2px;
}
.trigger .lhs {
  background: #fdc5c5;
  border-top-left-radius: .25rem;
  border-bottom-left-radius: .25rem;
}
.trigger.static .contents {
  line-height: 1.2;
  padding: .25rem;
}
h2, h3 {
  text-align: center;
  font-weight: bold;
}
h3 {
  margin-bottom: .5rem;
  margin-top: .5rem;
}
.thing-name {
  font-size: 1.1rem;
  margin-bottom: 5px;
  background: transparent;
  border: none;
  font-family: 'Bad Script';
}
input.thing-name {
  width: 80%;
}
.entity-icon {
  cursor: pointer;
  font-size: 2rem;
}
.static .entity-icon {
  cursor: default;
}
.minibutton {
  background: orange;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 1.25rem;
  line-height: 1;
  padding: 0;
  padding-top: 5px;
  padding-left: 2px;
  position: absolute;
  top: 5px;
}
.minibutton.randomize {
  left: 5px;
}
.minibutton.delete {
  right: 5px;
}
.minibutton.import {
  background: green;
  right: 5px;
}
.generate-games {
  background: rgb(0,150,255);
  border-radius: .5rem;
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  padding: .5rem;
  text-align: center;
}
.tags {
  line-height: 1;
}
.tag {
  background-color: mediumturquoise;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: .8rem;
  padding: 5px;
  margin-bottom: 3px;
  line-height: 1;
  max-width: 90%;
}
.tag.negated {
  background: orangered;
}
.tag.negated:before {
  content: "NOT ";
}
.edit-tags {
  cursor: pointer;
  display: block;
  font-size: .8rem;
  text-decoration: underline;
}
.tag-editor, .emoji-picker {
  background: #eef;
  border: 2px solid cornflowerblue;
  border-radius: 1rem;
  border-top-left-radius: 0;
  position: absolute;
  left: 80%;
  padding: 1rem;
  top: -1px;
  text-align: left;
  line-height: 1;
  width: 400px;
  z-index: 10000;
}
.tag-family:not(:last-child) {
  margin-bottom: 1rem;
}
.tag-family .tag {
  cursor: pointer;
  margin-right: 0.25rem;
}
.tag-family .tag.active {
  background: orange;
}
.close-tag-editor, .close-emoji-picker {
  cursor: pointer;
  position: absolute;
  top: .5rem;
  right: .5rem;
  color: red;
  font-weight: bold;
}
.emoji {
  cursor: pointer;
  font-size: 2rem;
}
.thisgame {
  text-align: center;
}
.gametitle {
  display: block;
  font-family: 'Bad Script';
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0 auto;
  margin-bottom: 1rem;
  text-align: center;
  width: 75% !important;
}
#game {
  background: #ccc;
  height: 400px;
  margin: 0 auto;
  padding-top: 1rem;
  width: 500px;
}
.continue {
  background: rgb(0,150,255);
}
