body {
    font-family: sans-serif;
    line-height: 1.5;
}
input[type="text"] {
  text-align: center;
}
#maintitle {
  font-size: 2.5rem;
  text-align: center;
}
.formtab {
  text-align: center;
}
.pick-topic {
  font-size: 1.5em;
}
#whatsItAboutText {
  font-size: 1.5em;
  display: block;
  margin: 1.5rem auto;
}
#whatPlayerWantsSelect {
  font-size: 1.5em;
}
#whatPlayerWants p, #whatPlayerWants input[type="text"] {
  font-size: 1.5rem;
}
button {
  background: lightgrey;
  border: none;
  border-radius: .5rem;
  font-size: 1rem;
  padding: .5rem;
  margin: .5rem .25rem;
  cursor: pointer;
  outline: none;
}
button:disabled{
  background: lightgrey;
  color: grey;
  cursor: not-allowed;
}
.back {
  background: #ddd;
  border: none;
  border-radius: .5rem;
  font-size: 1.5rem;
  font-weight: bold;
  padding: .5rem;
}
.continue {
  background: blue;
  border: none;
  border-radius: .5rem;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  padding: .5rem;
}
#restart {
  background: #ddd;
  border: none;
  border-radius: .5rem;
  font-size: 1rem;
  font-weight: normal;
  padding: .5rem;
  margin: .5rem;
}
#nextPool{
  background: cornflowerblue;
  border: none;
  border-radius: .5rem;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  padding: .5rem;
}
#whatPlayerWants, #whatsItLike, #summary {
  display: none;
}
#whatsItLike table {
  font-size: 1.5em;
  margin: 1rem auto;
  text-align: left;
}
#whatsItLike td:first-child {
  padding-right: 1.5rem;
}
#whatsItLike select {
  font-size: 1.5rem;
}
#game {
  background: #eee;
  width: fit-content;
  margin: auto;
  padding: 20px;
}
input[type="number"] {
  font-size: 1.5rem;
  width: 50px;
}
